<div class="form-container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="mb-5 mb-3 headline-text-medium">Profil adatok szerkeszése</div>
    <div class="d-flex form-gap">
      <app-input
        formControlName="lastName"
        label="Keresztnév*"
        [icon]="ICON_IDS.PERSON_VCARD"
      ></app-input>
      <app-input
        formControlName="firstName"
        label="Vezetéknév*"
        [icon]="ICON_IDS.PERSON_VIDEO"
      ></app-input>
    </div>
    <div class="d-flex form-gap">
      <app-input
        formControlName="email"
        label="E-mail cím*"
        [icon]="ICON_IDS.ENVELOPE_AT"
      ></app-input>
      <app-input
        formControlName="phone"
        label="Telefonszám*"
        [icon]="ICON_IDS.SMART_PHONE"
      ></app-input>
    </div>
    <div class="d-flex form-gap">
      <app-input
        formControlName="jobTitle"
        label="Munkakör*"
        [icon]="ICON_IDS.BRIEFCASE"
      ></app-input>
      <app-input
        formControlName="role"
        label="Jogosultság*"
        [icon]="ICON_IDS.SHIELD_CHECK"
      ></app-input>
    </div>

    <div class="flex-between mt-5 pt-5 items-center">
      <div class="d-flex items-center gap-2">
        <img src="./assets/images/google-logo.png" width="25" height="25" alt="Google logo" />
        <app-switch-button
          formControlName="hasGoogleSyns"
          label="Google naptár szinkron"
          [left]="true"
          (valueChange)="onGoogleSync($event)"
        ></app-switch-button>
      </div>
      <button
        type="submit"
        class="save-btn"
        app-button
        [disabled]="profileForm.invalid"
        [isLoading]="isLoading()"
      >
        Módosítás
      </button>
    </div>
  </form>
</div>
