<app-button (onClick)="onOpenChatRoomFormDialogClick()">Új csevegő szóba</app-button>

<ng-template #chatRoomFormTemplate>
  <app-input
    [(ngModel)]="chatRoomName"
    class="my-3"
    label="Csevegő szoba"
    [icon]="CHAT_DOTS_ICON"
  ></app-input>

  @if (chatRoomForEdit()) {
    <div class="mb-4">
      <app-select
        [(ngModel)]="transferedUser"
        [options]="selecableUserOptions()"
        label="Csevegő szoba átruházása"
        (selectedValueChange)="onTransferedUserChange($event)"
      ></app-select>
    </div>
  }

  <div class="label-strong mb-3">Résztvevők</div>
  @for (user of selectableUsers(); track user.id) {
    <div class="flex-between items-center gap-3 mb-2 cursor-pointer user-select-none">
      <label [for]="'user-' + user.id" class="d-flex items-center gap-2">
        <div class="user-monogram user-monogram--flex">{{ user.monogram }}</div>
        <div>{{ user.lastName }} {{ user.firstName }}</div>
      </label>

      <input
        [id]="'user-' + user.id"
        type="checkbox"
        [disabled]="transferedUser()?.id === user.id"
        [(ngModel)]="user.checked"
      />
    </div>
  }
</ng-template>

<ng-template #roomDialogFooterTemplate>
  <div class="d-flex gap-2">
    <app-button
      [ngClass]="chatRoomForEdit() ? 'w-33' : 'w-50'"
      color="transparent"
      (onClick)="onCloseDialog()"
    >
      Mégsem
    </app-button>
    @if (chatRoomForEdit()) {
      <app-button class="w-33" color="danger" (onClick)="onOpenWarningDeleteDialogTemplate()">
        Csevegő szoba törlése
      </app-button>
    }
    <app-button
      [ngClass]="chatRoomForEdit() ? 'w-33' : 'w-50'"
      (onClick)="handleCreateOrUpdateChatRoom()"
    >
      {{ chatRoomForEdit() ? "Módosítás" : "Létrehozás" }}
    </app-button>
  </div>
</ng-template>
