<app-button (onClick)="onShowHolidayRequestDialogClick()">Új szabadság kérelem</app-button>

<ng-template #dialogContentTemplate>
  <form [formGroup]="holidayForm" class="mt-4">
    <div class="d-flex gap-3 mb-3">
      <app-input formControlName="start" label="Kezdete" type="date"></app-input>
      <app-input formControlName="end" label="Vége" type="date"></app-input>
    </div>

    <textarea formControlName="reason" rows="6" placeholder="Indoklás"></textarea>
  </form>
</ng-template>
<ng-template #dialogFooterTemplate>
  <div class="d-flex gap-2">
    <app-button color="transparent" class="w-50" (onClick)="onCloseDialogClick()">
      Bezár
    </app-button>
    <app-button
      [disabled]="holidayForm.invalid"
      class="w-50"
      (onClick)="onSendClick()"
      [isLoading]="isLoading()"
    >
      {{ holidayRequest() ? "Módosítás" : "Igénylés" }}
    </app-button>
  </div>
</ng-template>
