<div class="d-flex flex-grow-1 gap-3">
  <div class="stretch">
    <div class="flex-between items-center mb-3 gap-2">
      <div class="headline-text-medium">Csevegő szobák</div>

      <app-chat-room-dialog-form
        [users]="usersWithMonogram()"
        [room]="chatRoomToEdit()"
        (closed)="chatRoomToEdit.set(null)"
        (roomCreate)="activeChatRoomId.set($event)"
      >
      </app-chat-room-dialog-form>
    </div>
    <app-chat-rooms
      [chatRooms]="chatRooms()"
      [(activeChatRoomId)]="activeChatRoomId"
      (chatRoomSelect)="activeChatParticipant.set(null)"
    ></app-chat-rooms>
    <app-chat-messages
      class="stretch chat"
      [chatRoomId]="activeChatRoomId()"
      [chatParticipant]="activeChatParticipant()"
      [roomOwnerUserId]="activeChatRoom()?.ownedUserId ?? ''"
      [roomParticipants]="activeChatRoom()?.participants ?? []"
      (openRoomEditor)="chatRoomToEdit.set(activeChatRoom() ?? null)"
    ></app-chat-messages>
  </div>
  <div class="users-container stretch">
    <div class="headline-text-medium mb-3">Felhasználók</div>
    <div class="flex-grow-1 users-container-card">
      @for (userGroup of userGroups(); track userGroup.name) {
        <div class="headline-text-normal mb-3">{{ userGroup.name }}</div>

        @for (user of userGroup.users; track user.id) {
          <div
            class="flex-between items-center gap-2 mb-2 cursor-pointer"
            (click)="startChatWithOtherUser(user)"
          >
            <div class="d-flex items-center gap-2">
              <div class="user-monogram user-monogram--flex">{{ user.monogram }}</div>
              <div>{{ user.lastName }} {{ user.firstName }}</div>
            </div>
            <mat-icon class="label-primary" [svgIcon]="CHAT_DOTS_ICON"></mat-icon>
          </div>
        }
        <hr />
      }
    </div>
  </div>
</div>
