@if (dialog()) {
  <div [ngClass]="['dialog', 'dialog--' + dialog()?.size]" appFade>
    <div class="dialog-header">
      <div class="headline-text-normal">{{ dialog()?.title }}</div>
      <mat-icon [svgIcon]="X_CIRCLE_ICON" (click)="onCloseClick()"></mat-icon>
    </div>
    <div class="dialog-content">
      <ng-container [ngTemplateOutlet]="dialog()!.content ?? null"></ng-container>
    </div>
    <div class="dialog-footer">
      @if (dialog()?.footer) {
        <ng-container [ngTemplateOutlet]="dialog()!.footer!"></ng-container>
      } @else {
        <div class="dialog-footer-cancel">
          <button app-button color="primary" (click)="onCloseClick()">Bezár</button>
        </div>
      }
    </div>
  </div>

  <div class="dialog__bg" appFade></div>
}

<ng-template #defaultContentTemplate>
  <div
    class="dialog-content--delete-message"
    [ngClass]="dialog()?.templateConfig?.contentClass"
    [innerHTML]="dialog()?.templateConfig?.contentText"
  ></div>
</ng-template>
<ng-template #defaultFooterTemplate>
  <div class="config-btn-group">
    <button app-button color="transparent" (click)="onCloseClick()">Bezár</button>

    @if (dialog()?.templateConfig?.triggerBtnLabel) {
      <button
        app-button
        [color]="dialog()?.templateConfig?.triggerBtnColor ?? 'primary'"
        [isLoading]="dialog()!.triggerIsLoading()"
        (click)="onTriggerClick()"
      >
        {{ dialog()?.templateConfig?.triggerBtnLabel }}
      </button>
    }
  </div>
</ng-template>
