<div class="flex-between">
  <div class="d-flex flex-wrap gap-2 mb-3">
    @for (participant of roomParticipants(); track $index) {
      <div class="user-monogram user-monogram--flex">{{ participant.monogram }}</div>
    }

    @if (chatParticipant()) {
      <div class="d-flex items-center gap-2">
        <div class="user-monogram user-monogram--flex">{{ chatParticipant()!.monogram }}</div>
        <div>{{ chatParticipant()!.lastName }} {{ chatParticipant()!.firstName }}</div>
      </div>
    }
  </div>
  @if (userId() === roomOwnerUserId()) {
    <mat-icon
      [svgIcon]="PENCIL_ICON"
      class="mt-2 me-2 label-primary cursor-pointer"
      (click)="openRoomEditor.emit()"
    ></mat-icon>
  }
</div>

<div class="stretch position-relative">
  <div class="flex-grow-1" [ngStyle]="{ 'min-height': '350px' }">
    <div #chatContainerRef class="chat-messages-container">
      @for (chaGroup of chatGroupMessages(); track chaGroup.date) {
        <div class="mb-3">
          <div class="label-strong">{{ chaGroup.date }}</div>
          <hr />

          @for (chatTimeGroup of chaGroup.timeGroups; track $index) {
            <div class="mb-3">
              <div class="d-flex flex-grow-1 gap-2">
                <div
                  class="user-monogram user-monogram--flex"
                  [ngClass]="{
                    'user-monogram--active': chatTimeGroup.userId === userId(),
                    'system-message': chatTimeGroup.userId === SYSTEM_ID,
                  }"
                >
                  {{ chatTimeGroup.userMonogram }}
                </div>
                <div>
                  <div class="label-strong">
                    {{ chatTimeGroup.userName }}
                    <span class="label-normal ms-1">({{ chatTimeGroup.time }})</span>
                  </div>
                  @for (chatMessage of chatTimeGroup.messages; track $index) {
                    <div [innerHTML]="chatMessage.text"></div>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      } @empty {
        <div class="empty-placeholder">
          @if (chatRoomId() || chatParticipant()) {
            Még nem került sor üzenet váltásra
          } @else {
            Válasszon ki egy csevegő szobát
            <br />
            vagy
            <br />
            csevegjen egy felhasználóval.
          }
        </div>
      }
    </div>
  </div>
  @if (chatRoomId() || chatParticipant()) {
    <div class="position-relative">
      <label for="chat-box" class="label-gray label-normal chat-box-label">Üzenet:</label>
      <textarea
        id="chat-box"
        class="chat-area"
        (keyup.enter)="onSendMessageClick()"
        [(ngModel)]="message"
      ></textarea>
      <mat-icon
        class="chat-send-btn"
        [svgIcon]="SEND_ICON"
        (click)="onSendMessageClick()"
      ></mat-icon>
    </div>
  }
</div>
