<div class="mb d-flex justify-between">
  <div class="headline-text-large">Értesítések</div>

  <app-notification-button
    [notification]="notificationForEdit()"
    (dialogClose)="notificationForEdit.set(null)"
  ></app-notification-button>
</div>

<app-table
  [titles]="tableTitles"
  [rows]="tableRows()"
  [autoHeight]="true"
  (rowClick)="onOpenNotificationViewDialogClick($event)"
  minWidth="900px"
></app-table>

<ng-template #bellNotificationTemplate let-row>
  @if (!row.model.seen) {
    <mat-icon class="label-accent" [svgIcon]="BELL_FILL_ICON"></mat-icon>
  }
</ng-template>

<ng-template #notificationDescriptionTemplate let-row>
  <div [class]="['fw-bold', row.cells.not.value]">{{ row.model.subject }}</div>
  <div class="ellipsis" [innerText]="row.model.text"></div>
</ng-template>
