:host {
  display: inline-block;
}

.app-button {
  display: inline-block;
  height: max-content;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  width: 100%;

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.spinner {
  margin: auto;
  border: 4px solid #f3f3f3; /* Halvány szürke háttér */
  border-top: 4px solid #3498db; /* Kék szín a tetején */
  border-radius: 50%; /* Kör alak */
  width: 25px; /* Méret */
  height: 25px; /* Méret */
  animation: spin 1s linear infinite; /* Forgó animáció */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Kezdő pozíció */
  }
  100% {
    transform: rotate(360deg); /* Végeredmény, teljes kör */
  }
}
