<div class="datepicker-wrapper" #datePicker>
  <div class="datepicker" (click)="toggleOptions()" aria-hidden="true">
    <span>Időszak: {{ year() }}. {{ HUN_MONTHS[month()! - 1].monthName }}</span>
    <mat-icon
      [svgIcon]="CHEVRON_LEFT_ICON"
      class="arrow-icon"
      [ngClass]="{ 'arrow-icon--opened': showOptions() }"
    ></mat-icon>
  </div>
  <div class="datepicker-dropdowns" [ngClass]="{ 'datepicker-dropdowns--opened': showOptions() }">
    <div class="datepicker-dropdowns-header">
      <div
        aria-hidden="true"
        (click)="menu.set('year')"
        class="cursor-pointer"
        [ngClass]="{ 'datepicker-dropdowns-header--active': menu() === 'year' }"
      >
        Év
      </div>
      <div
        aria-hidden="true"
        (click)="menu.set('month')"
        class="cursor-pointer"
        [ngClass]="{ 'datepicker-dropdowns-header--active': menu() === 'month' }"
      >
        Hónap
      </div>
    </div>
    <hr />
    <div class="datepicker-dropdowns-body">
      <div class="datepicker-dropdowns-body-months-container">
        @if (menu() === "year") {
          <div class="arrow-item">
            @if (page() !== 1) {
              <mat-icon (click)="handlePageChange(-1)" [svgIcon]="CHEVRON_LEFT_ICON"></mat-icon>
            }
          </div>
          <div class="arrow-item under cursor-pointer" (click)="onTodayClick()" aria-hidden="true">
            Most
          </div>
          <div class="arrow-item">
            @if (page() + 1 <= maxPage()) {
              <mat-icon
                class="rotate-180"
                (click)="handlePageChange(1)"
                [svgIcon]="CHEVRON_LEFT_ICON"
              ></mat-icon>
            }
          </div>
          @for (
            yearData of years().slice(
              (page() - 1) * (COLUMNS * ROWS),
              (page() - 1) * (COLUMNS * ROWS) + COLUMNS * ROWS
            );
            track $index
          ) {
            <div
              aria-hidden="true"
              (click)="onYearSelect(yearData)"
              class="datepicker-dropdowns-body-months-container-item"
              [ngClass]="{
                'datepicker-dropdowns-body-months-container-item--active': yearData === year(),
              }"
            >
              {{ yearData }}.
            </div>
          }
        } @else {
          @for (monthData of HUN_MONTHS; track $index) {
            <div
              aria-hidden="true"
              (click)="onMonthSelect($index + 1)"
              class="datepicker-dropdowns-body-months-container-item"
              [ngClass]="{
                'datepicker-dropdowns-body-months-container-item--active': $index + 1 === month(),
              }"
            >
              {{ monthData.shortName }}.
            </div>
          }
        }
      </div>
    </div>
  </div>
</div>
