@use "../../../../../assets/styles/sass/base/variables/media" as media;

$info-gap: 20px;

:host {
  display: flex;
  flex-wrap: wrap;
  gap: $info-gap;
  margin-bottom: 24px;
}

.info-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 15px;
  border-radius: 12px;

  @include media.tablet {
    width: calc(50% - 10px);
  }

  @include media.desktop {
    width: calc(25% - 15px);
  }
}

.end-of-day-container {
  min-height: 118px;
  overflow-y: auto;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}
