@for (infoCard of infoCards(); track $index) {
  <div class="info-card">
    <!-- Info header -->
    <div class="flex-between mb-3">
      <!-- Title -->
      <div class="d-flex items-center gap-2 headline-text-small">
        <mat-icon [class]="infoCard.iconColor" [svgIcon]="infoCard.icon"></mat-icon>
        {{ infoCard.title }}:
      </div>

      <!-- Counter -->
      @if (infoCard.events.length && infoCard.showCounter) {
        <div class="counter">{{ infoCard.events.length > 9 ? "9+" : infoCard.events.length }}</div>
      }
    </div>

    <!-- Info body -->
    <div class="flex-grow-1">
      @for (event of infoCard.events.slice(0, 3); track $index) {
        <div [ngClass]="[event.subLabel ? 'flex-between gap-2' : 'text-end', event.class ?? '']">
          @if (event.subLabel) {
            <div
              aria-hidden="true"
              (click)="event?.callback(event.item)"
              class="label-normal label-strong text-end text-nowrap cursor-pointer"
            >
              {{ event.subLabel }}
            </div>
          }
          <div
            aria-hidden="true"
            (click)="event?.callback(event.item)"
            class="ellipsis label-strong cursor-pointer"
          >
            {{ event.name }}
          </div>
        </div>
      } @empty {
        <div class="text-end">{{ infoCard.fallbackLabel }}</div>
      }
    </div>

    <!-- Info footer -->
    @if (infoCard.footer?.templateRef) {
      <ng-container [ngTemplateOutlet]="infoCard.footer?.templateRef!"></ng-container>
    } @else if (infoCard.events.length && infoCard.footer) {
      <div
        (click)="onFooterClick(infoCard)"
        aria-hidden="true"
        class="text-end mt-2 text-decoration-underline cursor-pointer"
      >
        {{ infoCard.footer.label }}
      </div>
    }
  </div>
}

<ng-template #todayTemplate>
  <div class="text-end mt-3">
    @if (!ownWorkStatus()) {
      <app-button class="today-btn" (onClick)="onStartTheDayClick()"> Munka kezdés </app-button>
    } @else if (!ownWorkStatus()!.workEnd) {
      <app-button class="today-btn" (onClick)="onOpenEndOfDayDialog()">Munka befejezése</app-button>
    } @else if (ownWorkStatus()?.report) {
      <span
        aria-hidden="true"
        class="text-decoration-underline user-select-none cursor-pointer"
        (click)="onOpenEndOfDayDialog()"
      >
        Jelentés megtekintése
      </span>
    }
  </div>
</ng-template>

<ng-template #endOfDayDialogTemplate>
  <div class="d-flex gap-4 mb-4">
    <div class="w-50">
      <div class="label-strong">Nap kezdete</div>
      <div>{{ startOfDatetime() || "-" }}</div>
    </div>
    <div class="w-50">
      <div class="label-strong">Nap vége</div>
      <div>{{ endOfDayDatetime() }}</div>
    </div>
  </div>

  <div class="label-strong">Nap végi jelentés</div>

  @if (ownWorkStatus() && ownWorkStatus()?.workEnd) {
    <div class="end-of-day-container">{{ userReport() }}</div>
  } @else {
    <textarea rows="6" placeholder="Összegzés..." [(ngModel)]="userReport"></textarea>
  }
</ng-template>
<ng-template #endOfDayButtonDialogTemplate>
  <div class="d-flex gap-2">
    <app-button
      color="transparent"
      [ngClass]="ownWorkStatus() && !ownWorkStatus()?.workEnd ? 'w-50' : 'w-100'"
      (onClick)="onCloseDialogClick()"
    >
      Bezár
    </app-button>
    @if (ownWorkStatus() && !ownWorkStatus()?.workEnd) {
      <app-button
        class="w-50"
        [isLoading]="endOfDayBtnIsLoading()"
        [disabled]="!userReport()"
        (onClick)="onEndOfDayClick()"
      >
        Jelentés leadása
      </app-button>
    }
  </div>
</ng-template>
