<button app-button color="success" class="text-nowrap" (click)="onOpenNewEventDialogClick()">
  <i class="bi bi-calendar2-plus me-2"></i>
  Esemény létrehozása
</button>

<ng-template #newEventDialogContentTemplate>
  <form [formGroup]="eventForm">
    <div class="mb-3">
      <app-select
        [options]="eventTypeOptions"
        label="Esemény kiválasztása*"
        formControlName="eventType"
        bootstrapIcon="bi-calendar2-event"
        (selectEvent)="onOptionSelect($event)"
      ></app-select>
    </div>

    <div class="mb-3 d-flex gap-3">
      <app-input
        formControlName="eventStart"
        class="w-100"
        label="Esemény kezdete*"
        type="datetime-local"
      ></app-input>
      <app-input
        formControlName="eventEnd"
        class="w-100"
        label="Esemény vége*"
        type="datetime-local"
      ></app-input>
    </div>
    @if (eventForm.get("eventType")?.value && eventForm.get("eventType")?.value !== GOOGLE_EVENT) {
      <textarea formControlName="reason" placeholder="Megjegyzés" rows="3"></textarea>

      @if (calendarEvent()) {
        <app-input
          formControlName="organizer"
          class="w-100 mt-3"
          label="Szervező"
          bootstrapIcon="bi-pen"
        ></app-input>
      }
    }
  </form>
</ng-template>

<ng-template #footerDialogTemplate>
  <button
    class="w-100 mb-2"
    [ngClass]="{ 'mb-2': !viewOnly() }"
    app-button
    color="transparent"
    (click)="onCloseDialogClick()"
  >
    Bezár
  </button>

  @if (!viewOnly()) {
    @if (calendarEvent()) {
      <button class="w-100 mb-2" app-button color="danger" (click)="onWarningDeleteClick()">
        Eltávolítás
      </button>
    }
    <button
      class="w-100"
      app-button
      (click)="onSaveClick()"
      [disabled]="eventForm.invalid"
      [isLoading]="isSaveBtnLoading()"
    >
      {{ calendarEvent() ? "Módosítás" : "Létrehozás" }}
    </button>
  }
</ng-template>
