<div class="select-wrapper">
  <div
    (click)="toggleOpened()"
    aria-hidden="true"
    [ngClass]="{ 'select--disabled': disabled() }"
    class="select"
  >
    <div class="select-value">
      @if (multi()) {
        @for (item of selectedOptions(); track $index) {
          {{ item.label + ($last ? "" : ", ") }}
        }
      } @else {
        {{ selectedOption()?.label }}
      }
    </div>
    <div
      class="select-label"
      [ngClass]="{
        'select-label--focus': selectedOption() || selectedOptions().length,
        'select-label--transparent': disabled(),
      }"
    >
      @if (icon()) {
        <mat-icon class="me-1" [svgIcon]="icon()!"></mat-icon>
      }
      {{ label() }}
    </div>

    <div class="arrow-down" [ngClass]="{ 'arrow-down--opened': opened() }">
      <mat-icon [svgIcon]="CHEVRON_LEFT_ICON"></mat-icon>
    </div>
  </div>

  <div class="select-dropdown" [ngClass]="{ 'select-dropdown--opened': opened() && !disabled() }">
    @for (option of options(); track $index) {
      <div
        aria-hidden="true"
        (click)="onOptionSelect(option)"
        class="select-dropdown-item"
        [ngClass]="{
          'select-dropdown-item--selected':
            option.label === selectedOption()?.label || option?.selected,
        }"
      >
        {{ option.label }}
      </div>
    }
  </div>
</div>
