@use "../../../../assets/styles/sass/base/variables/colors" as colors;

:host {
  position: absolute;
}

.popup-groups {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 1001;
}

.popup {
  margin-bottom: 10px;
  animation: slideIn 0.5s ease-out forwards;
  width: 300px;
  font-size: 14px;
  color: white;
  padding: 15px;

  position: relative;

  &-container {
    padding-right: 15px;
    //opacity: 0.8;
    display: flex;
    gap: 15px;
    align-items: center;

    &:hover {
      opacity: 1;
    }
  }

  .counter {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 10px;
    font-weight: 700;
    background-color: red;
  }

  .close-icon {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  &-hedaer {
    font-weight: 700;
  }

  &--error {
    background-color: colors.$danger;

    &:hover {
      background-color: colors.$danger-dark;
    }
  }

  &--success {
    background-color: colors.$success;

    &:hover {
      opacity: 1;
      background-color: colors.$success-dark;
    }
  }

  &--info {
    background-color: colors.$primary;

    &:hover {
      opacity: 1;
      background-color: colors.$primary-dark;
    }
  }

  &--warning {
    background-color: colors.$orange;

    &:hover {
      opacity: 1;
      background-color: colors.$orange-dark;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-out {
  animation: slideOut 0.5s ease-out forwards !important;
}
