@if (groupedPopups().length) {
  <div class="popup-groups">
    @for (popup of groupedPopups(); track popup.key) {
      <div
        appPopupAutoRemove
        [popupKey]="popup.key"
        [length]="popup.length"
        [ngClass]="['popup', 'popup--' + popup.severity]"
      >
        <div class="popup-container">
          <mat-icon class="big-icon" [svgIcon]="ICONS[popup.severity]"></mat-icon>
          <mat-icon
            [id]="popup.key"
            class="close-icon small-icon"
            [svgIcon]="ICONS['close']"
            (click)="onClosePopupClick(popup.key)"
          ></mat-icon>
          @if (popup.length > 1) {
            <div class="counter">{{ popup.length }}</div>
          }
          <div>
            <div class="popup-hedaer">{{ popup.title }}</div>
            <div class="popup-body">{{ popup.details }}</div>
          </div>
        </div>
      </div>
    }
  </div>
}
