<app-calendar-info-groups
  #calendarInfoGroupsComponent
  [googleCalendarEventsAndTasks]="googleCalendarTodayEventsAndTasks()"
  (calendarSave)="fetchCalendarEvents()"
></app-calendar-info-groups>

<div class="mb-4 d-flex gap-3 justify-content-between">
  <app-datepicker [(year)]="year" [(month)]="month"></app-datepicker>
  <app-calendar-event-creator
    [calendarEvent]="selectedCalendarEvent()"
    (eventSave)="fetchCalendarEvents()"
    (dialogClosed)="selectedCalendarEvent.set(null)"
  ></app-calendar-event-creator>
</div>

<!--  -->
<div class="calendar" appDragScroll>
  <div class="calendar-grid" appFade>
    @for (day of SORTED_HUN_DAYS; track $index) {
      <div class="calendar-grid-item text-center fw-bold py-2">
        {{ day.dayName }}
      </div>
    }
    @for (calendarItem of calendarItems(); track $index) {
      <div class="calendar-grid-item calendar-grid-item-aspect" appFade>
        <div
          [ngClass]="[
            'calendar-grid-item-header',
            'calendar-grid-item-header--' + calendarItem.status,
          ]"
        >
          @if (calendarItem.status !== "current" && calendarItem.status !== "today") {
            {{ calendarItem.monthName }}.
          }
          {{ calendarItem.label }}
        </div>
        <div
          [ngClass]="[
            'calendar-grid-item-events',
            'calendar-grid-item-events--' + calendarItem.status,
          ]"
        >
          @for (calendarEvent of calendarItem.events; track $index) {
            <ng-container
              [ngTemplateOutlet]="
                calendarEvent.type === 'event'
                  ? googleCalendarEventTemplate
                  : googleCalendarTaskTemplate
              "
              [ngTemplateOutletContext]="{ $implicit: calendarEvent.item }"
            ></ng-container>
          }
        </div>
      </div>
    }
  </div>
</div>

<ng-template #googleCalendarEventTemplate let-calendarEvent>
  <div
    appFade
    [ngClass]="['calendar-grid-item-event', 'calendar-grid-item-event--' + calendarEvent.type]"
  >
    <div class="calendar-grid-item-event-summary mb-1">
      @if (calendarEvent.type === CALENDAR_EVENTS.GOOGLE_EVENT) {
        <i class="bi bi-google small me-1"></i>
      } @else if (calendarEvent.type === CALENDAR_EVENTS.OUT_OF_HOME) {
        <i class="bi bi-clock-history small me-1"></i>
      } @else if (
        calendarEvent.type === CALENDAR_EVENTS.HOLIDAY ||
        calendarEvent.type == CALENDAR_EVENTS.DAY_END
      ) {
        <i class="bi bi-calendar-x small me-1"></i>
      } @else if (calendarEvent.type === CALENDAR_EVENTS.DAY_START) {
        <i class="bi bi-calendar-check small me-1"></i>
      }
      {{ calendarEvent.summary }}
    </div>
    <div class="calendar-grid-item-event-options">
      @if (
        calendarEvent.type !== CALENDAR_EVENTS.DAY_START || calendarEvent.userId === user()?.id
      ) {
        <i
          [class]="
            calendarEvent.userId.email === user()?.id &&
            ![CALENDAR_EVENTS.DAY_END, CALENDAR_EVENTS.DAY_START].includes(calendarEvent.type)
              ? 'bi bi-pen'
              : 'bi bi-eye'
          "
          (click)="onCalendarEventSelect(calendarEvent)"
        ></i>
      }
    </div>
    <div class="small">
      <div>
        @if (calendarEvent.hangoutLink) {
          <a [href]="calendarEvent.hangoutLink" target="_blank">{{ calendarEvent.hangoutLink }}</a>
        } @else if (calendarEvent.location) {
          {{ calendarEvent.location }}
        }
      </div>
      <div class="text-end" [ngClass]="{ 'fw-bold': calendarEvent.eventStartShort }">
        {{ calendarEvent.eventStartShort || "Egésznap" }}
        @if (calendarEvent.eventEndShort) {
          - {{ calendarEvent.eventEndShort }}
        }
      </div>
    </div>
  </div>
</ng-template>

<ng-template #googleCalendarEventViewTemplate>
  <div class="d-flex gap-3 my-4">
    <div class="google-event-view-box">
      <div class="label-strong">Esemény/Teendő</div>
      <div>{{ selectedGoogleCalendarEvent()?.summary ?? "-" }}</div>
    </div>

    <div class="google-event-view-box">
      <div class="label-strong">Szervező</div>
      <div>
        {{
          selectedGoogleCalendarEvent()?.organizer?.displayName ??
            selectedGoogleCalendarEvent()?.organizer?.email
        }}
      </div>
    </div>
  </div>
  <div class="d-flex gap-3 mb-4">
    <div class="google-event-view-box">
      <div class="label-strong">Kezdete</div>
      <div>{{ selectedGoogleCalendarEvent()?.eventStart ?? "-" }}</div>
    </div>

    <div class="google-event-view-box">
      <div class="label-strong">Vége</div>
      <div>{{ selectedGoogleCalendarEvent()?.eventEnd ?? "-" }}</div>
    </div>
  </div>

  <div class="d-flex gap-3 mb-4">
    <div class="google-event-view-box">
      <div class="label-strong">Link</div>
      <a class="cursor-pointer" [href]="selectedGoogleCalendarEvent()?.hangoutLink" target="_blank">
        {{ selectedGoogleCalendarEvent()?.hangoutLink ?? "-" }}
      </a>
    </div>
    <div class="google-event-view-box">
      <div class="label-strong">Helyszín</div>
      <div>{{ selectedGoogleCalendarEvent()?.location ?? "-" }}</div>
    </div>
  </div>

  <div class="mb-4">
    <div class="label-strong">Leírás</div>
    <div
      class="overflow-wrap-break-word"
      [innerHTML]="selectedGoogleCalendarEvent()?.description ?? '-'"
    ></div>
  </div>

  <div class="mb-4">
    <div class="label-strong mb-2">Résztvevők</div>
    <div class="">
      @for (attendee of selectedGoogleCalendarEvent()?.attendees; track $index) {
        <div class="d-flex gap-2 align-items-center">
          <i
            class="attendee-icon"
            [ngClass]="[attendee.response?.class, attendee.response?.icon]"
          ></i>
          {{ attendee.displayName ?? attendee.email ?? "-" }}
        </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #googleCalendarTaskTemplate let-googleTask>
  <div appFade [ngClass]="['calendar-grid-item-event', 'calendar-grid-item-event--google-task']">
    <div class="calendar-grid-item-event-summary">
      <i class="bi bi-card-text small me-1"></i>
      {{ googleTask.title }}
    </div>
    <div class="calendar-grid-item-event-options">
      <i class="bi bi-eye" (click)="onCalendarTaskSelect(googleTask)"></i>
    </div>
    <div class="small">
      Esedékes:
      <div class="text-end">{{ googleTask.due }}</div>
    </div>
  </div>
</ng-template>

<ng-template #googleCalendarTaskViewTemplate>
  <div class="d-flex gap-4 my-4">
    <div class="google-event-view-box">
      <div class="label-strong">Esemény/Teendő</div>
      <div>{{ selectedGoogleCalendarTask()?.title ?? "-" }}</div>
    </div>

    <div class="google-event-view-box">
      <div class="label-strong">Esedékes</div>
      <div>{{ selectedGoogleCalendarTask()?.due ?? "-" }}</div>
    </div>
  </div>

  <div class="d-flex gap-4 mb-4">
    <div class="google-event-view-box">
      <div class="label-strong">Link</div>
      <a [href]="selectedGoogleCalendarTask()?.webViewLink" target="_blank">
        Teendő megnyitása google-ben
      </a>
    </div>

    <div class="google-event-view-box">
      <div class="label-strong">Állapot</div>
      <div>
        @if (selectedGoogleCalendarTask()?.status === "completed") {
          <i class="bi bi-check2-square text-success me-2"></i>
          <span>Teljesítve</span>
        } @else {
          <i class="bi bi-app me-2"></i>
          <span>Még nem teljesült</span>
        }
      </div>
    </div>
  </div>

  <div class="label-strong">Leírás</div>
  <div>{{ selectedGoogleCalendarTask()?.notes ?? "-" }}</div>
</ng-template>
