<app-calendar-info-groups
  [googleCalendarEventsAndTasks]="googleCalendarTodayEventsAndTasks()"
  (calendarSave)="fetchCalendarEvents()"
></app-calendar-info-groups>

<div class="flex-between mb-4 gap-3">
  <app-datepicker [(year)]="year" [(month)]="month"></app-datepicker>
  <app-calendar-event-creator
    [calendarEvent]="selectedCalendarEvent()"
    (eventSave)="fetchCalendarEvents()"
    (dialogClosed)="selectedCalendarEvent.set(null)"
  ></app-calendar-event-creator>
</div>

<div class="calendar" appDragScroll>
  <div class="calendar-grid" appFade>
    @for (day of SORTED_HUN_DAYS; track $index) {
      <div class="calendar-grid-item text-center label-strong py-2">
        {{ day.dayName }}
      </div>
    }
    @for (calendarItem of calendarItems(); track $index) {
      <div class="calendar-grid-item calendar-grid-item-aspect" appFade>
        <div
          [ngClass]="[
            'calendar-grid-item-header',
            'calendar-grid-item-header--' + calendarItem.status,
          ]"
        >
          @if (calendarItem.status !== "current" && calendarItem.status !== "today") {
            {{ calendarItem.monthName }}.
          }
          {{ calendarItem.label }}
        </div>
        <div
          [ngClass]="[
            'calendar-grid-item-events',
            'calendar-grid-item-events--' + calendarItem.status,
          ]"
        >
          @for (calendarEvent of calendarItem.events; track $index) {
            <ng-container
              [ngTemplateOutlet]="
                calendarEvent.type === 'event'
                  ? googleCalendarEventTemplate
                  : googleCalendarTaskTemplate
              "
              [ngTemplateOutletContext]="{ $implicit: calendarEvent.item }"
            ></ng-container>
          }
        </div>
      </div>
    }
  </div>
</div>

<ng-template #googleCalendarEventTemplate let-calendarEvent>
  <div
    appFade
    [ngClass]="['calendar-grid-item-event', 'calendar-grid-item-event--' + calendarEvent.type]"
  >
    <div class="calendar-grid-item-event-summary d-flex gap-2 mb-1">
      @if (calendarEvent.type === CALENDAR_EVENTS.GOOGLE_EVENT) {
        <mat-icon class="vertical-align-text-top" [svgIcon]="ICON_IDS.GOOGLE"></mat-icon>
      } @else if (calendarEvent.type === CALENDAR_EVENTS.OUT_OF_HOME) {
        <mat-icon class="vertical-align-text-top" [svgIcon]="ICON_IDS.CLOCK_HISTORY"></mat-icon>
      } @else if (
        calendarEvent.type === CALENDAR_EVENTS.HOLIDAY ||
        calendarEvent.type === CALENDAR_EVENTS.DAY_END
      ) {
        <mat-icon class="vertical-align-text-top" [svgIcon]="ICON_IDS.CALENDAR_X"></mat-icon>
      } @else if (calendarEvent.type === CALENDAR_EVENTS.DAY_START) {
        <mat-icon class="vertical-align-text-top" [svgIcon]="ICON_IDS.CALENDAR_CHECK"></mat-icon>
      }
      {{ calendarEvent.summary }}
    </div>
    <div class="calendar-grid-item-event-options">
      @if (
        calendarEvent.type !== CALENDAR_EVENTS.DAY_START || calendarEvent.userId === user()?.id
      ) {
        <mat-icon
          (click)="onCalendarEventSelect(calendarEvent)"
          [svgIcon]="
            calendarEvent.userId === user()?.id &&
            ![CALENDAR_EVENTS.DAY_END, CALENDAR_EVENTS.DAY_START, CALENDAR_EVENTS.HOLIDAY].includes(
              calendarEvent.type
            )
              ? ICON_IDS.PEN
              : ICON_IDS.EYE
          "
        ></mat-icon>
      }
    </div>
    <div class="label-normal">
      <div>
        @if (calendarEvent.hangoutLink) {
          <a [href]="calendarEvent.hangoutLink" target="_blank">{{ calendarEvent.hangoutLink }}</a>
        } @else if (calendarEvent.location) {
          {{ calendarEvent.location }}
        }
      </div>
      <div class="text-end" [ngClass]="{ 'label-strong': calendarEvent.eventStartShort }">
        {{ calendarEvent.eventStartShort || "Egésznap" }}
        @if (calendarEvent.eventEndShort) {
          - {{ calendarEvent.eventEndShort }}
        }
      </div>
    </div>
  </div>
</ng-template>

<ng-template #googleCalendarEventViewTemplate>
  <div class="d-flex gap-3 my-4">
    <div class="google-event-view-box">
      <div class="label-strong">Esemény/Teendő</div>
      <div>{{ selectedGoogleCalendarEvent()?.summary ?? "-" }}</div>
    </div>

    <div class="google-event-view-box">
      <div class="label-strong">Szervező</div>
      <div>
        {{
          selectedGoogleCalendarEvent()?.organizer?.displayName ??
            selectedGoogleCalendarEvent()?.organizer?.email
        }}
      </div>
    </div>
  </div>
  <div class="d-flex gap-3 mb-4">
    <div class="google-event-view-box">
      <div class="label-strong">Kezdete</div>
      <div>{{ selectedGoogleCalendarEvent()?.eventStart ?? "-" }}</div>
    </div>

    <div class="google-event-view-box">
      <div class="label-strong">Vége</div>
      <div>{{ selectedGoogleCalendarEvent()?.eventEnd ?? "-" }}</div>
    </div>
  </div>

  <div class="d-flex gap-3 mb-4">
    <div class="google-event-view-box">
      <div class="label-strong">Link</div>
      <a class="cursor-pointer" [href]="selectedGoogleCalendarEvent()?.hangoutLink" target="_blank">
        {{ selectedGoogleCalendarEvent()?.hangoutLink ?? "-" }}
      </a>
    </div>
    <div class="google-event-view-box">
      <div class="label-strong">Helyszín</div>
      <div>{{ selectedGoogleCalendarEvent()?.location ?? "-" }}</div>
    </div>
  </div>

  <div class="mb-4">
    <div class="label-strong">Leírás</div>
    <div
      class="overflow-wrap-break-word"
      [innerHTML]="selectedGoogleCalendarEvent()?.description ?? '-'"
    ></div>
  </div>

  <div class="mb-4">
    <div class="label-strong mb-2">Résztvevők</div>
    <div class="">
      @for (attendee of selectedGoogleCalendarEvent()?.attendees; track $index) {
        <div class="d-flex items-center gap-2">
          <mat-icon
            class="attendee-icon"
            [ngClass]="[attendee.response?.class]"
            [svgIcon]="attendee.response?.icon ?? ''"
          ></mat-icon>
          {{ attendee.displayName ?? attendee.email ?? "-" }}
        </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #googleCalendarTaskTemplate let-googleTask>
  <div appFade [ngClass]="['calendar-grid-item-event', 'calendar-grid-item-event--google-task']">
    <div class="calendar-grid-item-event-summary">
      <mat-icon class="vertical-align-text-top me-1" [svgIcon]="ICON_IDS.CARD_TEXT"></mat-icon>
      {{ googleTask.title }}
    </div>
    <div class="calendar-grid-item-event-options">
      <mat-icon [svgIcon]="ICON_IDS.EYE" (click)="onCalendarTaskSelect(googleTask)"></mat-icon>
    </div>
    <div class="label-normal">
      Esedékes:
      <div class="text-end">{{ googleTask.due }}</div>
    </div>
  </div>
</ng-template>

<ng-template #googleCalendarTaskViewTemplate>
  <div class="d-flex gap-4 my-4">
    <div class="google-event-view-box">
      <div class="label-strong">Esemény/Teendő</div>
      <div>{{ selectedGoogleCalendarTask()?.title ?? "-" }}</div>
    </div>

    <div class="google-event-view-box">
      <div class="label-strong">Esedékes</div>
      <div>{{ selectedGoogleCalendarTask()?.due ?? "-" }}</div>
    </div>
  </div>

  <div class="d-flex gap-4 mb-4">
    <div class="google-event-view-box">
      <div class="label-strong">Link</div>
      <a [href]="selectedGoogleCalendarTask()?.webViewLink" target="_blank">
        Teendő megnyitása google-ben
      </a>
    </div>

    <div class="google-event-view-box">
      <div class="label-strong">Állapot</div>
      <div>
        @if (selectedGoogleCalendarTask()?.status === "completed") {
          <div class="label-success">
            <mat-icon [svgIcon]="ICON_IDS.CHECK_SQUARE" class="me-2"></mat-icon>
            <span>Teljesítve</span>
          </div>
        } @else {
          <mat-icon [svgIcon]="ICON_IDS.EMPTY_SQUARE" class="me-2"></mat-icon>
          <span>Még nem teljesült</span>
        }
      </div>
    </div>
  </div>

  <div class="label-strong">Leírás</div>
  <div>{{ selectedGoogleCalendarTask()?.notes ?? "-" }}</div>
</ng-template>
