<aside class="sidebar" [ngClass]="{ 'sidebar--opened': opened() }">
  <div class="sidebar-header">
    <div [routerLink]="PROFILE_PATH" class="sidebar-header-content cursor-pointer">
      <div class="user-monogram" [ngClass]="{ 'user-monogram--big': opened() }">
        {{ userMonogram() }}
      </div>
      <div
        class="headline-text-normal"
        [ngClass]="{ 'sidebar-body-item-label--notvisible': !opened() }"
      >
        Fiók adatai
      </div>
    </div>
  </div>

  <div class="sidebar-body">
    @for (sidebarItem of sidebarItems(); track $index) {
      <a
        [routerLink]="sidebarItem.route"
        [routerLinkActive]="'sidebar-body-item--active'"
        class="sidebar-body-item"
      >
        <mat-icon [svgIcon]="sidebarItem.icon"></mat-icon>
        <div class="sidebar-body-item-group">
          <span
            class="sidebar-body-item-label"
            [ngClass]="{ 'sidebar-body-item-label--notvisible': !opened() }"
          >
            {{ sidebarItem.label }}
          </span>
          @if (sidebarItem?.count) {
            <div class="counter">{{ sidebarItem.count }}</div>
          }
        </div>
      </a>
    }
  </div>
  <div class="sidebar-footer">
    @if (opened()) {
      <div class="sidebar-footer-logout" (click)="logout()">Kijelentkezés</div>
      <div class="sidebar-footer-logout" (click)="toggleSidebar()">Összecsukás</div>
    } @else {
      <mat-icon [svgIcon]="ICON_IDS.BOX_ARROW_LEFT" (click)="logout()"></mat-icon>
      <br />
      <mat-icon [svgIcon]="ICON_IDS.ARROWS_EXPAND_VERTICAL" (click)="toggleSidebar()"></mat-icon>
    }
  </div>
</aside>
