<mat-icon
  class="label-primary"
  [svgIcon]="CHAT_DOTS_ICON"
  (click)="onOpenCommentsDialogClick()"
></mat-icon>

<ng-template #commentsDialogContentTemplate>
  <div
    appScrollToBottom
    [items]="displayedCommentGroups()"
    [class]="displayedCommentGroups().length ? 'pb-2' : 'h-100'"
  >
    @for (commentGroup of displayedCommentGroups(); track $index) {
      <div class="label-strong label-normal mt-3">{{ commentGroup.dateStr }}</div>
      <hr />
      @for (commentItem of commentGroup.comments; track $index) {
        <div class="flex-between gap-3 mb-2">
          <div class="d-flex gap-2">
            <div
              class="monogram"
              [ngClass]="{ 'monogram--current-user': commentItem.userId === user()?.id }"
            >
              <span>{{ commentItem.monogram }}</span>
            </div>
            <div>
              <div class="label-strong label-normal">{{ commentItem.userName }}</div>
              <div>{{ commentItem.text }}</div>
            </div>
          </div>
          <div class="label-normal label-strong">{{ commentItem.time }}</div>
        </div>
      }
    } @empty {
      <div class="empty-comments-placeholder">Még nem került megjegyzés hozzáadásra.</div>
    }
  </div>
</ng-template>

<ng-template #commentsDialogFooterTemplate>
  <textarea [(ngModel)]="comment" rows="3" placeholder="Megjegyzés hozzáadása..."></textarea>
  <div class="d-flex gap-2 mt-2">
    <button class="w-100" app-button color="transparent" (click)="onCloseCommentsDialogClick()">
      Bezár
    </button>
    <button
      class="w-100"
      app-button
      [disabled]="!comment()"
      [isLoading]="commentSendIsLoading()"
      (click)="onSendClick()"
    >
      Hozzáadás
    </button>
  </div>
</ng-template>
