$primary-dark: #0069d9;
$primary: rgb(22, 97, 177);

$gray: #9b9b9b;
$gray-light: #e9e9e9;
$gray-extra-dark: #2f3243;

$secondary: #6c757d;
$secondary-dark: #474748;

$success: #28b349;
$success-dark: #218838;

$danger: #dc3545;
$danger-dark: #c82333;

$accent: #ffc107;
$accent-dark: #d39e00;
