<div
  class="input-wrapper"
  (click)="type() === 'date' || type() === 'datetime-local' ? inputField?.showPicker() : null"
  [ngClass]="{ 'input-disabled': disabled() }"
>
  <input
    #inputField
    [type]="type() === 'password' && passwordVisible() ? 'text' : type()"
    [attr.id]="id()"
    [attr.name]="id()"
    [disabled]="disabled()"
    [attr.autocomplete]="autocompleteName()"
    [value]="value()"
    [(ngModel)]="value"
    (ngModelChange)="valueChange.emit(value())"
    (change)="nativeChange.emit(value())"
    (input)="handleInput()"
    (focus)="focused.set(true)"
    (blur)="focused.set(false)"
  />

  <label
    class="input-label"
    [attr.for]="id()"
    (click)="inputField.focus()"
    [ngClass]="{
      'input-label--focus': value() || focused() || type() === 'date' || type() == 'datetime-local',
      'input-label--transparent': disabled(),
    }"
  >
    @if (icon()) {
      <mat-icon [svgIcon]="icon()!"></mat-icon>
    }
    {{ label() }}
  </label>

  @if (type() === "password") {
    <div class="password-icon" (click)="passwordVisible.set(!passwordVisible())">
      <mat-icon
        [svgIcon]="disabled() || !passwordVisible() ? ICON_IDS.EYE_SLASH : ICON_IDS.EYE"
      ></mat-icon>
    </div>
  }
</div>
