@use "../../../../assets/styles/sass/base/variables/colors" as colors;
@use "../../../../assets/styles/sass/base/variables/media" as media;

:host::ng-deep {
  .cdk-drag-placeholder {
    display: none !important;
  }
}

ul {
  padding-left: 20px;
}

.publications {
  display: flex;
  flex-direction: column;
}

.repository-card {
  padding: 15px 10px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid colors.$blue-light;

  &--disabled {
    opacity: 0.5;
    background-color: rgb(215, 215, 215);
  }

  &--active {
    border: 2px solid colors.$success;
  }
}

.left-side {
  width: 100%;
  order: 1;
}

.branches-container {
  width: 100%;

  .repository-card {
    padding: 15px;
  }
}

.x-circle:hover {
  color: colors.$danger;
}

.flex-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line-height-0 {
  line-height: 0;
}

@include media.tablet {
  .flex-item {
    width: calc(50% - 5px);
  }
}

@include media.desktop {
  .publications {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .flex-item {
    width: calc(50% - 5px);
  }

  .left-side {
    width: calc(100% - 400px);
    order: unset;
  }

  .branches-container {
    max-width: 400px;
  }
}

@media screen and (min-width: 1800px) {
  .flex-item {
    width: calc(33% - 3px);
  }
}
